/* Estilos para los botones flotantes */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.floating-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.floating-button img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar la imagen al tamaño del botón */
}

.floating-button:hover {
    transform: scale(1.1); /* Escalar el botón al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar sombra */
    opacity: 0.9; /* Reducir la opacidad al pasar el mouse */
}
